<% content_for :page_title do %>
  Getting Started
<% end %>

<div id="accounts-setup">
  <%= form_for @user, url: users_account_path, html: { class: "basic-form" } do |f| %>
    <%= render "shared/validation_errors", resource: @user %>

    <%= render "form", f: f, user: @user %>

    <div class="footer">
      <div class="inner">
        <%= f.submit "Continue", class: "btn-blue btn-block" %>
      </div>
    </div>
  <% end %>
</div>
