<% if resource.errors.any? %>
  <div id="validation-errors">
    <ul class="fa-ul">
      <% formatted_error_messages(resource).each do |message| %>
        <li><%= fa_icon("li check-square") + message %></li>
      <% end %>
    </ul>
  </div>
<% end %>