<% if resource.errors.any? %>
  <div id="validation-errors">
    <ul>
      <% formatted_error_messages(resource).each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>