<div class="conflicts">
  <p>
    <%= fa_icon("exclamation-triangle") %>
    You have the following conflicts:
  </p>

  <% event_presenter = GoogleEventPresenter.new(conflicts) %>
  <%= event_presenter.event_list %>
</div>