<div class="date-in-past info-box clearfix">
  <div class="col-left">
    <div class="circle">
      <%= fa_stacked_icon "check", base: "calendar-o" %>
    </div>
  </div>
  <div class="col-right">
    <p class="top-margin">This date is in the past, but you can add events to it anyway.</p>
  </div>
</div>