<div id="update-event-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content main">
      <h3 class="header"><%= event.summary %></h3>

      <div class="modal-body content">
        <%= render "conflicts", conflicts: conflicts %>

        <p class="confirmation">Are you sure you want to update this event?</p>

        <div class="buttons clearfix">
          <div class="col-left">
            <button type="button" class="btn-blue" id="confirm-button">Yes, I'm Sure</button>
          </div>

          <div class="col-right">
            <%= link_to "Cancel", "javasript:void(0)", data: { dismiss: "modal" } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
