<% content_for :page_title do %>
  Events
<% end %>

<div id="events">
  <% if @events_by_date.any? %>
    <div class="event-list">
      <% @events_by_date.each do |date, events| %>
        <div class="date-separator">
          <%= date.strftime("%a %b %-d") %>
        </div>
        <%= render events %>
      <% end %>
    </div>
  <% else %>
    <p class="no-events">You haven't added any events, yet.</p>
  <% end %>

  <div class="footer">
    <div class="inner">
      <%= link_to "Add Event", new_event_path, class: "btn-blue btn-block" %>
    </div>
  </div>
</div>