div#accounts-edit {
  p.form-control-static {
    min-height: initial;
    margin-left: 1px;
    padding: 0;
    font-weight: bold;
  }

  div.time-period {
    label {
      margin: 5px 0 0 0;
      padding: 5px 7px;
      text-decoration: underline;

      &.selected {
        text-decoration: none;
        color: white;
        text-shadow: $basic-text-shadow;
        background-color: $orange;
        box-shadow: $basic-box-shadow;
      }
    }
  }
}