div#accounts-edit {
  box-shadow: 0 0 15px rgba(black, .75);

  h3 {
    margin: 0;
    padding: 10px 15px;
    border-bottom: 2px solid rgba(darken($light-blue, 5%), .85);
    font-size: 20px;
    color: white;
    text-shadow: 0 1px 1px rgba(black, .15);
    background-color: rgba($light-blue, .85);
    background-clip: padding-box;
  }

  form {
    padding: 15px;
    background-color: rgba(white, .85);
  }

  div.col-xs-6 {
    &:first-child {
      padding-right: 5px;
    }

    &:last-child {
      padding-left: 5px;
    }
  }

  label, p {
    line-height: 16px;
    letter-spacing: .5px;
    font-weight: lighter;
    color: #666666;

    &.instructions {
      margin: -5px 5px 5px 5px;
    }
  }

  input[type="text"], select {
    border-color: #DDDDDD;
    border-radius: 0;
    letter-spacing: .5px;
    font-weight: lighter;
    color: #666666;
  }

  select {
    -webkit-appearance: none;
    background-image: url(select_arrows.png);
    background-position: 98% 50%;
    background-repeat: no-repeat;
    box-shadow: none;
  }

  div.monthly-goal {
    position: relative;

    i.fa-dollar {
      position: absolute;
      bottom: 10px;
      left: 13px;
      color: #666666;
    }

    input[type="text"] {
      padding-left: 23px;
    }
  }

  div.time-period {
    label {
      margin: 5px 0 0 0;
      padding: 5px 7px;
      text-decoration: underline;

      &.selected {
        text-decoration: none;
        color: white;
        text-shadow: 0 1px 1px rgba(black, .15);
        background-color: $orange;
        box-shadow: 0 2px 5px rgba(black, .25);
      }
    }
  }

  div.checkbox {
    margin: 0 -15px;
    padding: 0 15px 10px 15px;
    border-bottom: 1px solid rgba(black, .15px);

    input[type="checkbox"] {
      margin: 2px 0 0 -16px;
    }

    label {
      padding-left: 20px;
    }
  }

  div.form-footer {
    margin: 0 -15px;
    padding: 15px 15px 0 15px;
    border-top: 1px solid white;

    input[type="submit"] {
      padding: 5px 20px;
      border-width: 0 0 2px 0;
      border-bottom: 2px solid darken($light-blue, 5%);
      border-radius: 4px;
      font-size: 18px;
      letter-spacing: .5px;
      font-weight: lighter;
      color: darken(white, 5%);
      text-shadow: 0 1px 1px rgba(black, .15);
      background-color: $light-blue;
      box-shadow: 0 1px 2px rgba(black, .25);
      transition: all .2s ease;

      &:hover {
        border-bottom-color: $light-blue;
        color: white;
        background-color: lighten($light-blue, 5%);
      }
    }

    a.cancel {
      margin: 9px 5px 0 0;
      float: right;
      letter-spacing: .5px;
      font-weight: lighter;
      text-decoration: underline;
      color: #666666;
    }
  }
}