form.basic-form {
  div.neg-top-margin {
    margin-top: -5px;
  }

  div.col-xs-6 {
    &:first-child {
      padding-right: 5px;
    }

    &:last-child {
      padding-left: 5px;
    }
  }

  label, p {
    line-height: 16px;
    font-weight: lighter;
    color: $grey;

    &.instructions {
      margin: 0 0 5px 1px;
    }
  }

  input[type="text"], select {
    border-color: #DDDDDD;
    border-radius: 0;
    font-weight: lighter;
    color: $grey;
  }

  select {
    -webkit-appearance: none;
    background: url(tp_select_arrows.png), linear-gradient(to bottom, #FFFFFF 0%, #EEEEEE 100%);
    background-position: 98% 50%;
    background-repeat: no-repeat;
    box-shadow: none;
  }

  div.currency {
    position: relative;

    i.fa-dollar {
      position: absolute;
      bottom: 10px;
      left: 13px;
      color: #888888;
    }

    input[type="text"] {
      padding-left: 25px;
    }
  }

  div.checkbox {
    margin: 0 0 15px 0;

    input[type="checkbox"] {
      width: 14px;
      height: 14px;
      margin: 1px 0 0 -22px;
    }

    label {
      padding-left: 22px;
    }
  }

  a.cancel {
    margin: 6px 5px 0 0;
    float: right;
    font-size: 16px;
    font-weight: lighter;
    text-decoration: underline;
    color: $grey;
  }
}