ol.event-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    padding: 8px 15px;
    letter-spacing: .5px;
    font-weight: lighter;
    color: white;
    text-shadow: 0 1px 1px rgba(black, .15);
    background-color: rgba($light-orange, .85);

    &:nth-child(even) {
      background-color: rgba(darken($light-orange, 5%), .85);
    }

    div.col-xs-6 {
      &:first-child {
        padding: 0 5px 0 25px;
      }

      &:last-child {
        padding: 0 10px 0 5px;
      }
    }

    span.number {
      margin: 0 3px 0 -15px;
    }
  }
}