div#gigs {
  box-shadow: 0 2px 10px 2px rgba(black, .25);

  div.body {
    padding: 15px;
    background-color: rgba(white, .85);

    ol.gig-list {
      margin: 0 -15px;
      padding: 0;
      list-style: none;

      li {
        letter-spacing: .5px;
        font-weight: lighter;
        color: white;
        text-shadow: $basic-text-shadow;
        cursor: pointer;

        div.flipper-container, div.flipper, div.front, div.back {
          min-height: 44px;
        }

        div[class*="col"] {
          padding: 8px 10px;

          &:first-child {
            position: relative;
            border-right: 1px solid white;

            i.fa-circle {
              position: absolute;
              top: 18px;
              right: -5px;
              font-size: 8px;
              text-shadow: none;
            }
          }
        }

        div.arrow {
          width: 15px;
          height: 100%;
          position: absolute;
          top: 0;
          z-index: 9999;
          background-color: rgba(black, .15);
          cursor: pointer;

          i.fa {
            position: absolute;
            top: 15px;
          }
        }

        div.front {
          padding: 0 15px;
          line-height: 14px;
          background-color: lighten($light-orange, 5%);

          div[class*="col"]:last-child {
            padding-right: 15px;
          }

          div.time {
            font-size: 12px;
          }

          div.location {
            font-size: 10px;
          }

          div.arrow {
            right: 0;

            i.fa-caret-right {
              left: 5px;
            }
          }
        }

        div.back {
          padding: 0 15px;
          line-height: 28px;
          background-color: $green;

          div.arrow {
            left: 0;

            i.fa-caret-left {
              left: 4px;
            }
          }

          div[class*="col"]:first-child {
            padding-left: 20px;
          }

          div.buttons {
            padding: 0 0 0 25px;

            a {
              width: 50%;
              padding: 8px 15px;
              float: right;
              text-align: center;
              font-size: 16px;
              font-weight: normal;
              text-transform: uppercase;
              color: darken(white, 5%);
              transition: all .2s ease;

              &:hover {
                text-decoration: none;
                color: white;
              }

              &.edit {
                background-color: $light-blue;

                &:hover {
                  background-color: lighten($light-blue, 5%);
                }
              }

              &.delete {
                background-color: darken($red, 5%);

                &:hover {
                  background-color: $red;
                }
              }
            }
          }
        }

        &:nth-child(even) {
          div.front {
            background-color: $light-orange;
          }

          div.back {
            background-color: darken($green, 5%);

            div.buttons {
              a {
                color: darken(white, 10%);

                &.edit {
                  background-color: darken($light-blue, 5%);

                  &:hover {
                    background-color: $light-blue;
                  }
                }

                &.delete {
                  background-color: darken($red, 10%);

                  &:hover {
                    background-color: darken($red, 5%);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

div#gigs-new, div#gigs-edit {
  box-shadow: 0 2px 10px 2px rgba(black, .25);

  div.times {
    margin-top: -5px;
    text-align: center;

    select {
      background-position: 96% 50%;
    }
  }

  div.currency {
    margin: 0 -15px;
    padding: 0 15px 15px 15px;
    border-bottom: 1px solid rgba(black, .15px);

    i.fa-dollar {
      bottom: 25px;
      left: 28px;
    }
  }
}

div#create-gig-modal {
  h3.header {
    background-color: $light-blue;
  }

  div#conflicts {
    margin-bottom: 10px;

    p {
      margin: 0 -15px 10px -15px;
      padding: 10px 15px;
      line-height: 16px;
      letter-spacing: .5px;
      font-weight: lighter;
      color: white;
      text-shadow: $basic-text-shadow;
      background-color: rgba($red, .85);

      i.fa-exclamation-triangle {
        margin: 0 2px;
        position: relative;
        top: 1px;
        font-size: 16px;
      }
    }

    ol.event-list {
      margin: 0 -15px;

      li {
        background-color: rgba($light-orange, .85);

        &:nth-child(even) {
          background-color: rgba(darken($light-orange, 5%), .85);
        }
      }
    }
  }

  div.recommendation {
    margin-bottom: 20px;
  }

  div.buttons {
    margin-bottom: 5px;

    div.col-left {
      width: 50%;
      float: left;

      button {
        width: 100%;
        padding: 5px 10px;
      }
    }

    div.col-right {
      width: 50%;
      float: right;
      text-align: center;

      a {
        position: relative;
        top: 7px;
        font-size: 16px;
        letter-spacing: .5px;
        font-weight: lighter;
        text-decoration: underline;
        color: #333333;
      }
    }
  }

  div.footer {
    margin: 20px -15px -15px -15px;
    border-top: 1px solid rgba(black, .15px);

    p.footnote {
      margin: 0;
      padding: 10px 15px 10px 25px;
      border-top: 1px solid white;
      line-height: 16px;
      letter-spacing: .5px;
      font-weight: lighter;
      color: #666666;

      sup {
        margin: 0 3px 0 -10px;
      }

      a {
        text-decoration: underline;
        color: #333333;
      }
    }
  }
}