@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Courgette);

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Lato";
  background-image: url(gs_irish_hands.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

@media (min-width: 1060px) {
  body {
    background-size: 100% auto;
  }
}

div#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: rgba($eggshell, .25);
}

div#wrapper {
  width: 100%;
  height: 100%;
  padding: 65px 15px 15px 15px;
  position: absolute;
  z-index: 2;
}

@media (min-width: 768px) {
  div#wrapper {
    padding-top: 85px;
  }
}

header {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  text-align: center;
  background-color: rgba(black, .4);

  div.container {
    height: 100%;
    position: relative;
  }

  a {
    position: absolute;
    right: 15px;
    bottom: 10px;
    letter-spacing: .5px;
    text-transform: uppercase;
    color: darken(white, 15%);
    text-shadow: 0 1px 1px rgba(black, .15);
    transition: all .2s ease;

    &:hover {
      text-decoration: none;
      color: white;
    }
  }
}

@media (min-width: 768px) {
  header {
    height: 70px;
  }
}

div#sign-in {
  height: 100%;

  div.call-to-action {
    position: relative;
    top: 20%;
    text-align: center;
    color: white;
    text-shadow: 0 1px 1px rgba(black, .15);

    h3 {
      margin: 0 0 20px 0;
      display: inline-block;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      line-height: 48px;
      font-weight: lighter;
      text-transform: uppercase;
      background-color: rgba(black, .10);
      box-shadow: 0 0 40px 20px rgba(black, .10);
    }

    h1 {
      margin: 0 0 25px 0;
      font-family: "Courgette";
      font-size: 78px;
      background-color: rgba(black, .10);
      box-shadow: 0 0 40px 20px rgba(black, .10);

      span {
        &.a {
          margin-right: 4px;
        }

        &.i {
          margin: 0 2px;
        }
      }
    }

    a {
      padding: 7px 20px;
      display: inline-block;
      border-bottom: 2px solid darken($light-blue, 5%);
      border-radius: 4px;
      font-size: 18px;
      letter-spacing: .5px;
      font-weight: lighter;
      color: darken(white, 10%);
      background-color: $light-blue;
      box-shadow: 0 1px 2px rgba(black, .25);
      transition: all .2s ease;

      &:hover {
        border-bottom-color: $light-blue;
        text-decoration: none;
        color: white;
        background-color: lighten($light-blue, 5%);
      }

      &:focus {
        text-decoration: none;
      }
    }
  }

  @media (min-width: 768px) {
    div.call-to-action {
      top: 35%;
    }
  }
}