div.modal {
  div.modal-backdrop.in {
    opacity: .75;
  }

  div.modal-dialog {
    margin-top: 56px;

    div.modal-content {
      border: none;
      border-radius: 0;
      background-color: transparent;

      div.modal-body {
        background-color: darken(white, 5%);
      }
    }
  }

  @media (min-width: 376px) {
    div.modal-dialog {
      width: 355px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}