div#validation-errors {
  margin: 0 -15px 15px -15px;
  padding: 10px 15px 10px 7px;
  line-height: 16px;
  font-weight: lighter;
  color: white;
  text-shadow: $basic-text-shadow;
  background-color: rgba($red, .85);

  ul {
    margin-bottom: 0;
  }
}