// $light-blue: #23A2F2;
// $dark-blue: #2C3E50;
// $cyan: #04BFBF;
// $pink: #FF4695;
// $purple: #483350;

// https://color.adobe.com/Blackcurrent-Birds-color-theme-1301474/
// $green: #94B24D;
// $light-green: #D3FF82;
// $light-blue: #363D52;
// $medium-blue: #121D2B;
// $dark-blue: #111B1C;

// https://color.adobe.com/beachside-shopping-color-theme-259441/
// $dark-grey: #3C3F36;
// $pea-green: #9FB03E;
// $ivory: #EBE9DC;
// $slate: #72918B;

// https://color.adobe.com/anggo-djago-color-theme-2691053/
$dark-blue: #002A4A;
$light-blue: #17607D;
$eggshell: #FFF1CE;
$light-orange: #FF9311;
$orange: #D64700;
$green: #21C056;
$yellow: #FFDE4D;
$red: #E43725;