@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Courgette);
$main-font: "Lato";
$header-font: "Courgette";
$basic-text-shadow: 0 1px 1px rgba(black, .15);
$basic-box-shadow: 0 2px 5px rgba(black, .25);

// https://color.adobe.com/anggo-djago-color-theme-2691053/
$dark-blue: #002A4A;
$light-blue: #17607D;
$eggshell: #FFF1CE;
$light-orange: #FF9311;
$orange: #D64700;
$green: #21C056;
$yellow: #FFDE4D;
$red: #E43725;