<h3 class="header">
  <span id="events-title"></span>
  <%= link_to fa_icon("times"), "javascript:void(0)", class: "exit" %>
</h3>

<div class="content">
  <div id="events"></div>

  <div class="footer">
    <div class="inner">
      <%= link_to "Add Event", "javascript:void(0)", class: "btn-blue btn-block", id: "add-event" %>
    </div>
  </div>
</div>
