<h3>
  <span id="events-title">Events</span>
  <%= link_to fa_icon("times"), "javascript:void(0)", class: "exit" %>
</h3>

<div class="events-container">
  <div id="event-list"></div>

  <div class="footer">
    <%= link_to "Add Event", "javascript:void(0)", id: "add-event" %>
  </div>
</div>
