<div id="recommendation-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>
          Your account is set up to track your progress by
          <%= link_to current_user.configuration.time_period, edit_users_account_path %>.
        </p>

        <% if conflicts.present? %>
          <p>You have the following events scheduled during that time:</p>

          <ul>
            <% conflicts.each do |event| %>
              <li><%= event.summary %></li>
            <% end %>
          </ul>
        <% else %>
          <p>Good news, you don't have any schedule conflicts.</p>
        <% end %>

        <% presenter = RecommendationPresenter.new(recommendation) %>
        <%= presenter.recommendation_html %>

        <p>Would you like to take the gig?</p>

        <button type="button" class="btn btn-primary" id="confirm-button">Yes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
