<% content_for :page_title do %>
  <span class="brand">amifree</span>
<% end %>

<div id="calendar" class="flipper-container">
  <div class="flipper">
    <div class="front main">
      <%= render "calendar_front", calendar: @calendar %>
    </div>
    <div class="back main">
      <%= render "calendar_back" %>
    </div>
  </div>
</div>
