<div id="gigs-edit">
  <h3 class="header">Edit Event</h3>

  <%= render "form", gig: @gig %>
</div>

<% if @conflicts.present? %>
  <%= render "update_gig_modal", conflicts: @conflicts %>

  <script type="text/javascript">
    $("#update-gig-modal").modal("show");

    $("#confirm-button").click(function() {
      $("#update-gig-modal").modal("hide");
      $("#double_confirmation").val(true);
      $("#gigs-edit form").submit();
    });
  </script>
<% end %>
