<% content_for :page_title do %>
  Edit Event
<% end %>

<div id="gigs-edit">
  <%= render "form", gig: @gig %>
</div>

<% if @conflicts.present? %>
  <%= render "update_gig_modal", conflicts: @conflicts %>

  <script type="text/javascript">
    $("#update-gig-modal").modal("show");

    $("#confirm-button").click(function() {
      $("#update-gig-modal").modal("hide");
      $("#double_confirmation").val(true);
      $("#gigs-edit form").submit();
    });
  </script>
<% end %>
