<% content_for :page_title do %>
  Events
<% end %>

<div id="gigs">
  <div class="gig-list">
    <% @gigs_by_date.each do |date, gigs| %>
      <div class="date-separator">
        <%= date.strftime("%a %b %-d") %>
      </div>
      <%= render gigs %>
    <% end %>
  </div>

  <div class="footer">
    <div class="inner">
      <%= link_to "Add Event", new_gig_path, class: "btn-blue btn-block" %>
    </div>
  </div>
</div>