<% content_for :page_title do %>
  Add Event
<% end %>

<div id="gigs-new">
  <%= render "form", gig: @gig %>
</div>

<% if @recommendation %>
  <%= render "create_gig_modal", gig: @gig, recommendation: @recommendation, conflicts: @conflicts %>

  <script type="text/javascript">
    $("#create-gig-modal").modal("show");

    $("#confirm-button").click(function() {
      $("#create-gig-modal").modal("hide");
      $("#double_confirmation").val(true);
      $("#gigs-new form").submit();
    });
  </script>
<% end %>
